<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
 <Appenders>
  <!-- RollingFile name="RollingFile" fileName="D:/EnricoTool/Log/intranet/intranet.log" filePattern="D:/EnricoTool/Log/intranet/intranet-%d{yyyy-MM-dd}-%i.log" ignoreExceptions="false">
   <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [intranet] %-5level %logger{36} - %msg%n" />
   <TimeBasedTriggeringPolicy interval="1" />
  </RollingFile -->
  <Console name="StandardOut" target="SYSTEM_OUT">
   <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [intranet] %-5level %logger{36} - %msg%n" />
  </Console>
 </Appenders>

 <Loggers>
  <Root level="info">
   <!-- AppenderRef ref="RollingFile" /-->
   <AppenderRef ref="StandardOut" />
  </Root>
 </Loggers>
</Configuration>