<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://config.jaxb.sloth.eg.it" xmlns:xsi="http://www.w3.org/2001/XMLSchema">

 <Environment>DEVELOP</Environment>

 <!-- INITIALIZERS -->
 <Initializers>
  <Initializer name="StartMonitorInitializer" className="it.itdistribuzione.sloth.model.initializer.StartMonitorInitializer" />
  <!-- Initializer name="StartSchedulerInitializer" className="it.itdistribuzione.sloth.model.initializer.StartSchedulerInitializer" / -->
 </Initializers>
 
 <Parameters>
  <Group name="gilda">
   <Parameter name="gilda" value="gilda"/>
  </Group>
 </Parameters>
 
 <!-- JOBS -->
 <Jobs>
 </Jobs>
</Configuration>
